table, td{
    border: 1px solid black;
}

body, h1, p{
    margin: 0;
    font-size: 200%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.f1{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.f1 > *{
    display: flex;
    width: 62%;
    justify-content: space-between;
    margin-top: 20px;
}

.div_split_f1{
    width: 75%;
}
.div_split_input_1_f1, .div_split_input_2_f1{
    display: flex;
    width: 23%;
    justify-content: space-between;
}

.sageti_1_f1{
    width: 73%;
}

.table{
    margin-top: 100px;
    display: flex;
    justify-content:center;
    font-size: 200%;
}

.inputs_statistici{
    width: 500px;
    display: flex;
    justify-content: space-between;
}

form{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

#buton_reset{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    margin-bottom: 1%;
    font-size: 130%;
}

.detalii{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 80%;
}