<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css')}}">
    <title>genes generator</title>
</head>
<body>
    <div class="div_form">
        <form class="form_principal" action="#" method="post">
            <input name="input_1" type="text" class="form-control" id="input_1" aria-describedby="emailHelp" placeholder="1" autocomplete="off">
            <button type="submit" class="btn btn-outline-primary" id="buton_submit_principal">Genereaza</button>
            <input name="input_2" type="text" class="form-control" id="input_2" aria-describedby="emailHelp" placeholder="2" autocomplete="off">
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>