<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rezultate_dihibridare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'rezultate_dihibridare.css')}}">

</head>
<body>
    <p>{{input_1}}{{input_2}}</p>
    <p>{{split_lista}}</p>
    <p>{{f1_rez_procesate_lista}}</p>
    <p>{{f1_rez}} {{f1_rez}} {{f1_rez}} {{f1_rez}} </p>
    <table>
        <tr>
            <td>ex</td>
            <td>{{table_inputs[0]}}</td>
            <td>{{table_inputs[1]}}</td>
            <td>{{table_inputs[2]}}</td>
            <td>{{table_inputs[3]}}</td>
        </tr>
        <tr>
            <td>{{table_inputs[0]}}</td>
            <td>{{cols_and_rand_lista[0]}}</td>
            <td>{{cols_and_rand_lista[4]}}</td>
            <td>{{cols_and_rand_lista[8]}}</td>
            <td>{{cols_and_rand_lista[12]}}</td>
        </tr>
        <tr>
            <td>{{table_inputs[1]}}</td>
            <td>{{cols_and_rand_lista[1]}}</td>
            <td>{{cols_and_rand_lista[5]}}</td>
            <td>{{cols_and_rand_lista[9]}}</td>
            <td>{{cols_and_rand_lista[13]}}</td>
        </tr>
        <tr>
            <td>{{table_inputs[2]}}</td>
            <td>{{cols_and_rand_lista[2]}}</td>
            <td>{{cols_and_rand_lista[6]}}</td>
            <td>{{cols_and_rand_lista[10]}}</td>
            <td>{{cols_and_rand_lista[14]}}</td>
        </tr>
        <tr>
            <td>{{table_inputs[3]}}</td>
            <td>{{cols_and_rand_lista[3]}}</td>
            <td>{{cols_and_rand_lista[7]}}</td>
            <td>{{cols_and_rand_lista[11]}}</td>
            <td>{{cols_and_rand_lista[15]}}</td>
        </tr>
    </table>

    <form action="#" method="post">
        <input type="text" name="nume_gena_1">
        <input type="text" name="nume_gena_2">
        <input type="text" name="nume_gena_3">
        <input type="text" name="nume_gena_4">
        <input type="submit">
    </form>

    {% if nume_gena_1 != '' and nume_gena_2 != '' and nume_gena_3 != '' and nume_gena_4 != ''%}
    <div class="detalii">
        <p>Raportul de segregare după fenotip este de: 9:3:3:1</p>
        <p>(9 - {{nume_gena_1}} si {{nume_gena_2}}, 3 - {{nume_gena_1}} si {{nume_gena_4}}, 3 - {{nume_gena_3}} si {{nume_gena_2}}, 1 - {{nume_gena_3}} si {{nume_gena_4}})</p>
        <p>9/16*100=56,26% - {{nume_gena_1}} si {{nume_gena_2}}</p>
        <p>3/16*100=18,75% - {{nume_gena_1}} si {{nume_gena_4}}</p>
        <p>3/16*100=18,75% - {{nume_gena_3}} si {{nume_gena_2}}</p>
        <p>1/16*100=6,25% - {{nume_gena_3}} si {{nume_gena_4}}</p>
    </div>
    {% endif %}
    {{nume_gena_1}} {{nume_gena_2}}
    {{nume_gena_3}} {{nume_gena_4}}
    <a href="/">Reset</a>
</body>
</html>